@media (max-width:1050px){
    form{
        justify-content: space-evenly;
    }
    input{
        margin-bottom: 10px;
    }
}
@media (max-width:768px){
    .nav__elements{
        background: #A28356;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100vw;
        transition: all 0.5s;
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .nav__gender, .nav__processes{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .nav__elements_active{
        right: 0;
    }
    .hamburger{
        display: inline-block;
        width: 40px;
        height: 20px;
        background: none;
        position: fixed;
        top: 32px;
        left: 16px;
        border: none;
        padding: 0;
        z-index: 5;
    }
    .hamburger span{
        width: 40px;
        height: 2px;
        background: #2A2E39;
        display: block;
        position: absolute;
        transition: all 0.5s;
    }
    .hamburger span:nth-child(1){
        top: 0;
        left: 0;
    }
    .hamburger span:nth-child(2){
        top: 9px;
        left: 0;
    }
    .hamburger span:nth-child(3){
        bottom: 0;
        left: 0;
    }
    .hamburger_active span:nth-child(2){
        opacity: 0;
    }
    .hamburger_active span:nth-child(1){
        top: 9px;
        transform: rotate(-45deg);
    }
    .hamburger_active span:nth-child(3){
        bottom: 9px;
        transform: rotate(45deg);
    }
    .nav__elements a{
        font-size: 28px;
        color: white;
        font-weight: bold;
        margin: 10px 0 10px 0;
        display: inline-block;
    }
    .header__elements{
        flex-direction: column;
    }
    .header__info, .header__photo{
        width: 100%;
    }
    .model{
        max-width: 100%;
    }
    input, button{
        width: 100%;
    }
    .links__list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width:550px){
    .links__list{
        text-align: center;
    }
    hr{
        width: 100%;
    }
}